/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	aspect-ratio: 3 / 4;
    object-fit: cover;
}

#contact, 
#login {
	width: 50%;
	margin: auto;
}
#contact > *,
#login > * {
	text-align: center;

}
#contact h2,
#login h2{
	margin-bottom: 20px;
}
#contact form, 
#login form,
.modalForm {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input,
#login input,
.addPhoto,
.modalForm input, 
.modalForm select{
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label,
#login label,
.modalForm label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"],
.addPhoto,
.joinPhoto,
.validPhoto{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}


/* steyle filters 1.2 */
.filters{
	display : flex;
	justify-content: center;
	flex-wrap: wrap;
	gap : 10px;
	margin: 55px 0px;
	/* width :  */
	
}

.filters button{
	background-color: white;
	font-size: 1.4em;
	color : #1D6154;
	border : #1D6154 solid 1px;
	border-radius: 20px;
	padding : 5px 10px;
	min-width: 110px;
}

.filters button:hover{
	background-color: #1D6154;
	color: white;
}

/* 2.1 style formulaire login (suite (le début est avec le formulaire de contact)) */
#login{
	margin-top: 150px; 
	margin-bottom: 150px;
	width: 35%;
}

#logoutButton{
	cursor: pointer;
}

#login a{
	color:#1D6154;
	text-align: center;
}

nav li a {
	text-decoration: none;
	color: black;
}

#modifyButton .fa-solid.fa-pen-to-square {
	width: auto;
	height: auto;
}

.portfolio--h2AndButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

button#modifyButton {
    background: none;
    border: none;
}

#portfolio h2 {
	margin-bottom: 7px;
}

.errorMessage{
	color: rgba( 207, 22, 22) ;
	margin: 20px 0px 10px 0px;
	display: none;
}

.modal-container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.modal-container.active{
	display: block;
}

.overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(162, 161, 161, 0.5);
}

.modal{
	width: 95%;
	max-width: 600px;
	min-width: 300px;
	padding: 30px;
	background: #fff;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -65%);
	border-radius: 10px;
}

.close-modal{
	padding: 8px 10px;
	border: none;
	font-size: 18px;
	position: absolute;
	top: 5px;
	right: 10px; 
	cursor: pointer;
	background-color: #fff;
}

.modal h3{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 24px;
}

.modal--gallery{
	width: 80%;
	margin: auto;
	padding-bottom: 60px;
	margin-bottom: 20px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	border-bottom: #1D6154 solid 1px;
}

.modal--gallery li{
	width: 17%;
	margin-bottom: 15px;
	position: relative;
}

.modal--gallery li i{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #fff;
	background-color: black;
	padding: 5px 7px;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
}

.modal--gallery img{
	width: 100%;
	height: auto;
	aspect-ratio: 3 / 4;
	object-fit: cover;
}

.addPhoto{
    margin: 0% 35%;
	cursor: pointer;
	margin-top: 15px;
margin-bottom: 10px;
}


/* travail sur les deux vues de modal   */
.modalOne{
	display: active;
}

.modalOne.none{
	display:none;
}

.modalTwo{
	display: none;
	flex-direction: column;
	max-height: 500px;
	overflow:scroll;
}

.modalTwo::-webkit-scrollbar {
    display: none; /* Masquer les barres de défilement */
}

.modalTwo.active{
	display: block;
}

.modalTwo-Array{
	padding: 8px 10px;
	border: none;
	font-size: 18px;
	position: absolute;
	top: 5px;
	left: 10px; 
	cursor: pointer;
	background-color: #fff;
}

.modalTwo .containerPhoto{
	background-color: rgba(211, 237, 236);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 15px 0px;
		position: relative;
}

.modalForm{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: auto;

}

.fa-image{
	display: block;
	padding: 0px;
	font-size: 100px;
	color: rgba(179, 185, 184);
}

.joinPhoto{
	background-color: rgba(179, 185, 184) ;
	color: rgba(69, 91, 150);
}

.inputPhoto{
	background-color: rgba(179, 185, 184);
	padding: 10px 25px;
	margin : 0px 10px;
	text-align: center;
	border-radius: 20px;;
}

input[type="file"]{
	display: none;
}

.validPhoto{
	background-color: rgba(179, 185, 184) ;
	min-width: 60%;
}

.green-bar{
	height:1px;
	border-bottom:#1D6154 1px solid;
	margin-top: 50px;
}

input.validPhoto {	
	margin-bottom: 0px;
}


#imagePreview img {
	width: 50%;
	height: 100%;
	object-fit: cover;
	right: 100px;
	position: absolute;
	max-height: 220px;
	top: 0px;
	margin: auto;
}




